.buttonsContainer {
    display: flex;
    gap: 20px;
    width: 35px;
    color: white;
    margin: 27px 0;
}

.clock {
}

.watch {
    font-size: 20px;
    margin-bottom: 8px;
}

.watch strong {
}

.more {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.50);
}