.pagination {
    display: flex;
    margin-bottom: 36px;
    align-items: center;
    flex-shrink: 0
}

.text1 {
    margin-right: 10px;
    flex-shrink: 0
}

.text2 {
    margin-left: 6px;
    flex-shrink: 0
}

nav {
    flex-shrink: 0
}